# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=grandleagueexpert.com,www.grandleagueexpert.com,localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=gle_backend
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=https://grandleagueexpert.com,https://www.grandleagueexpert.com
CSRF_TRUSTED_ORIGINS=https://grandleagueexpert.com,https://www.grandleagueexpert.com

# AWS S3 (Production media storage)
AWS_ACCESS_KEY_ID=cVHddjwdjwnd
AWS_SECRET_ACCESS_KEY=XXXXXXX
AWS_STORAGE_BUCKET_NAME=grahddgue-hdha
AWS_S3_REGION_NAME=ap-sohxhd

# Razorpay
RAZORPAY_KEY_ID=dsj_dis-Dsdskd
RAZORPAY_KEY_SECRET=sjasiwnwidnw
RAZORPAY_WEBHOOK_SECRET=dhsd@jdkd33

GOOGLE_CLIENT_ID=rrrv3a4qr1lem0frrrrtapps.goorsrvrent.com
GOOGLE_CLIENT_SECRET=fefefrvNXjwKqJgcZKYfFWwnBixkWdfefe